*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 90%;
    margin: auto;
}

.container{
    background-position: relative;
    width: 80%;
    height: 100%;
}

#selezione li{
    display: inline;
    list-style: none;
}

.bottoms li{
    position: fixed;
    list-style: none;
    display: inline;
    border-radius: 4px;
    text-decoration: none;
}

#blu{
    background-color: red;
}

#tommy{
    background-color: #008000;
}

#converse{
    background-color: #FFFF00;
}

.scritte{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: yellow;
}

#scritta-verde{
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 20px;
    color: green;
}


.foto{
    border-left: 350px;
}


.section h2{
    font-size: large;
    text-transform: uppercase;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 30px;
    color: yellow;
}
